*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  min-height: 100vh;
}

.container {
  padding: 0 10px;
  font-size: 14px;
}

fieldset {
  padding: 10px;
  margin: 10px 0;
}

legend {
  font-size: 12px;
}

.search {
  margin-left: 5px;
}

.categories {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin: 5px 0;
}

.categories-item {
  position: relative;
  font-size: 12px;
}

.categories-item span {
  color: blue;
  border-bottom: 1px solid blue;
  cursor: pointer;
}

.categories-item:hover span {
  opacity: 0.7;
}

.category-space {
  height: 100%;
  width: 2px;
  background: black;
}

.result {
  margin-top: 20px;
}

table {
  width: 100%;
  border-spacing: 1px;
}

th {
  background: #efefef;
  padding: 3px 5px;
  text-align: left;
}

td {
  background: #fff;
  padding: 3px 5px;
}
